{% extends 'mini_fb/base.html' %}

{% load static %}

{% block content %}
<nav>
    <a href="{% url 'show_all_profiles' %}">All Profiles</a>
    <a href="{% url 'create_profile' %}">Create Profile</a>
</nav>

<h1>News Feed</h1>

<div class="news-feed">
    {% for status in news_feed %}
        <div class="status-card">
            <img src="{{ status.profile.profile_image_url }}" alt="{{ status.profile.first_name }}" class="profile-pic">
            <div class="status-info">
                <h3>{{ status.profile.first_name }} {{ status.profile.last_name }}</h3>
                <p>{{ status.message }}</p>
                <div>
                    {% for img in status.images.all %}
                        <img src="{{ img.image_file.url }}" alt="Status Image" style="width: 300px; margin: 10px;">
                    {% endfor %}
                </div>
                <small>Posted on: {{ status.timestamp }}</small>
            </div>
        </div>
    {% empty %}
        <p>No status messages to display.</p>
    {% endfor %}
</div>
<br>
<a href="{% url 'show_profile' profile.id %}" class="btn-post-status">Back to Profile</a>
{% endblock %}
